<html>

<head>
    <title>
        Slack page
    </title>
    <meta charset='utf-8' />

    <link rel='apple-touch-icon' sizes='180x180' href='/fav/apple-touch-icon.png' />
    <link rel='icon' type='image/png' sizes='32x32' href='/fav/favicon-32x32.png' />
    <link rel='icon' type='image/png' sizes='16x16' href='/fav/favicon-16x16.png' />
    <link rel='manifest' href='/fav/site.webmanifest' />
    <link rel='mask-icon' href='/fav/safari-pinned-tab.svg' color='#5bbad5' />
    <meta name='msapplication-TileColor' content='#da532c' />
    <meta name='theme-color' content='#ffffff' />

    <link href='css/normalize.css' rel='stylesheet' />
    <link href='css/slack.css' rel='stylesheet' />
</head>

<body>

    <div class='page'>
        <section class='page_section'>
            <div class='page_content'>
                <div class='hero_section'>
                    <div class='hero'>
                        <p class='hero_label'>Slack Features</p>
                        <h1 class='hero_title'>One platform for your
                            team and your work</h1>
                        <p class='hero_info'>All the features of Slack
                            work together so you can, too.</p>
                        <div class='hero_buttons'>
                            <a href='#' class='button button_primary click'>Try for free</a>
                            <a href='#' class='button button_secondary click'>See all features</a>
                        </div>
                    </div>

                    <img src='img/hero.png' alt='hero_image' class='img' />

                </div>
                <div class='brands'>
                    <img src='img/brands/airbnb-logo.png' alt='' class='brands_image' />
                    <img src='img/brands/intuit.png' alt='' class='brands_image' />
                    <img src='img/brands/logo-newscorp.png' alt='' class='brands_image' />
                    <img src='img/brands/logo-onemedical.png' alt='' class='brands_image' />
                    <img src='img/brands/logo-sonos.png' alt='' class='brands_image' />
                    <img src='img/brands/target-logo.png' alt='' class='brands_image' />
                    <img src='img/brands/uber.png' alt='' class='brands_image' />
                    <img src='img/brands/us-department-of-veteran-affairs.png' alt='' class='brands_image' />
                </div>
            </div>

        </section>
        <section class='page_section page_section_lite'>
            <div class='page_content '>

                <div class='feature_section'>
                    <div class="feature_header">
                        <h2 class='feature_header_title'>Work more easily with everyone</h2>
                        <p class='feature_header_info'>Stay on the same page and make decisions faster by bringing
                            all of your work communication into one place.</p>
                    </div>
                    <img src="img/img-work-easily.png" alt="feature_img" class="img feature_img">
                </div>

                <div class="Feature_cards">
                    <div class="cards wan">
                        <img src="/svg/cards/connect.svg" alt="">
                        <p>
                            Slack Connect
                        </p>
                        <p>
                            Collaborate with teams at other
                            companies the same way you do
                            with teams at your own.
                        </p>
                        <img src="/svg/cards/arrow.svg" alt="" class="arrow click">
                    </div>
                    <div class="cards">
                        <img src="/svg/cards/chanels.svg" alt="">
                        <p>
                            Channels
                        </p>
                        <img src="/svg/cards/arrow.svg" alt="" class="arrow click">
                    </div>
                    <div class="cards">
                        <img src="/svg/cards/Huddles.svg" alt="">
                        <p>
                            Huddles
                        </p>
                        <img src="/svg/cards/arrow.svg" alt="" class="arrow click">
                    </div>
                    <div class="cards">
                        <img src="/svg/cards/Clips.svg" alt="">
                        <p>
                            Clips
                        </p>
                        <img src="/svg/cards/arrow.svg" alt="" class="arrow click">
                    </div>
                    <div class="cards">
                        <img src="/svg/cards/Canvas.svg" alt="">
                        <p>
                            Canvas
                        </p>
                        <img src="/svg/cards/arrow.svg" alt="" class="arrow click">
                    </div>
                    <div class="cards">
                        <img src="/svg/cards/Messaging.svg" alt="">
                        <p>
                            Messaging
                        </p>
                        <img src="/svg/cards/arrow.svg" alt="" class="arrow click">
                    </div>
                    <div class="cards">
                        <img src="/svg/cards/Accessibility.svg" alt="">
                        <p>
                            Accessibility
                        </p>
                        <img src="/svg/cards/arrow.svg" alt="" class="arrow click">
                    </div>
                </div>
                <div class='feature_section_tu'>
                    <div></div>

                    <div class="feature_header ">

                        <h2 class='feature_header_title'>What you need, when you need it</h2>
                        <p class='feature_header_info'>Spend less time shuffling tabs with a comprehensive message
                            archive and all your work tools at your fingertips.</p>
                    </div>
                    <img src="/svg/Feature_tu_img.svg" alt="feature_img" class="img img_feature_tu">
                </div>
                <div class="Feature_cards feature_cards_tu">
                    <div class="cards wan cards_tu">

                    </div>
                    <div class="cards wan">
                        <img src="/svg/cards/Apps.svg" alt="">
                        <p>
                            Apps and Integrations
                        </p>
                        <p>
                            Streamline work by connecting
                            Slack with other services like
                            Google Drive, Office 365 and
                            over 2,200 more.
                        </p>
                        <img src="/svg/cards/arrow.svg" alt="" class="arrow click">
                    </div>
                    <div class="cards wan">
                        <img src="/svg/cards/Workflow.svg" alt="">
                        <p>
                            Workflow Builder
                        </p>
                        <p>
                            Automate routine actions and
                            communication, so you can get
                            back to the kind of work only
                            humans can do.
                        </p>
                        <img src="/svg/cards/arrow.svg" alt="" class="arrow click">
                    </div>
                    <div class="cards">
                        <img src="/svg/cards/Search.svg" alt="">
                        <p>
                            Search
                        </p>
                        <img src="/svg/cards/arrow.svg" alt="" class="arrow click">
                    </div>
                    <div class="cards">
                        <img src="/svg/cards/File_sharing.svg" alt="">
                        <p>
                            File sharing
                        </p>
                        <img src="/svg/cards/arrow.svg" alt="" class="arrow click">
                    </div>
                </div>
            </div>



        </section>

        <section class="page_section">
            <div class="page_content">
                <div class="deliveroo">
                    <img class="img img_deliveroo" src="/img/img-deliveroo.png" alt="img-deliveroo">
                    <div class="deliveroo_info">
                        <p class="p_deliveroo_info">
                            “The thing that keeps us connected
                            the most is Slack. It’s a very
                            immediate and straightforward
                            method of communication, and
                            really the only channel that people
                            prefer and enjoy using.”
                        </p>
                        <img src="/svg/deliveroo_info.svg" alt="" class="img_deliveroo_info">
                        <span class="span_deliveroo_info">
                            Will Sprunt, CIO, Deliveroo
                        </span>
                    </div>

                </div>
                <div class="content-conteiner">
                    <h2 class="h2_content_conteiner">
                        Explore more about working in Slack
                    </h2>
                    <div class="content_conteiner_cards">
                        <div class="cards conteiner_cards">
                            <img class="conteiner_img" src="/img/slack-101.png" alt="">
                            <div class="conteiner_text">
                                <span class="span_conteiner">
                                    Slack Tutorials
                                </span>
                                <p class="p_content_conteiner_cards">
                                    Slack 101
                                </p>
                                <div class="continer_arrow">
                                    <a href="#" class="conteiner_href click">Learn more</a>
                                    <img src="/svg/cards/arrow.svg" alt="" class="arrow click">

                                </div>

                            </div>
                        </div>
                        <div class="cards conteiner_cards">
                            <img class="conteiner_img" src="/img/slack-vs-email.png" alt="">
                            <div class="conteiner_text">
                                <span class="span_conteiner">
                                    Slack vs. Email
                                </span>
                                <p class="p_content_conteiner_cards">
                                    An easier, more
                                    organized way to work
                                </p>

                                <div class="continer_arrow">
                                    <a href="#" class="conteiner_href click">Learn more</a>
                                    <img src="/svg/cards/arrow.svg" alt="" class="arrow click">

                                </div>
                            </div>
                        </div>
                        <div class="cards conteiner_cards">
                            <img class="conteiner_img" src="/img/fastly-shared-channels-wow-enterprise-customers.png"
                                alt="">
                            <div class="conteiner_text">
                                <span class="span_conteiner">
                                    Customer Stories
                                </span>
                                <p class="p_content_conteiner_cards">
                                    How Fastly uses Slack
                                    Connect to wow
                                    enterprise customers
                                </p>
                                
                                <div class="continer_arrow">
                                    <a href="#" class="conteiner_href click">Learn more</a>
                                    <img src="/svg/cards/arrow.svg" alt="" class="arrow click">

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>




    </div>

</body>

</html>