:root {
    --space-m: 12px;
    --space-xm: 16px;
    --space-l: 24px;
    --space-b: 36px;

    --font-d: 16px;
    --font-s: 14px;
    --font-l: 20px;

    --color-border: #DEE2E6;
    --color-white: #ffffff;
    --color-primary: #4053fc;
    --color-title: #212529;
    --color-text: #343A40;

    --border-radius: 12px;

    --weight-title: 500;
    --weigth-text: 400;

    --width-page-content: 960px;
}

/* ========================= */

.page {
    background: var(--color-white);
    padding: 0 var(--space-m);
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
}

.page_content {
    max-width: var(--width-page-content);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

/* =================== */

.header {
    padding: var(--space-l) 0;
    border-bottom: 1px solid var(--color-border);
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    width: var(--width-page-content);
    background: var(--color-white);
    /* left: calc(50% - (var(--width-page-content) / 2)); */
    z-index: 1;
}

.logo {
    font-size: 17px;
    color: var(--color-white);
    background: var(--color-primary);
    width: 24px;
    height: 24px;
    border-radius: calc(var(--border-radius)/2);
    display: flex;
    justify-content: center;
    align-items: center;

}


.nav {
    display: flex;
}

.nav_link {
    color: var(--color-text);
    font-size: var(--font-d);
    text-decoration: none;
    gap: var(--space-xm);
    line-height: 100%;
}

.nav_link:hover {
    text-decoration: underline;
    color: #0c6bca;
}

.nav_vertical {
    gap: var(--space-m);
    flex-direction: column;
}

.nav_inline {
    gap: var(--space-l);
}

.footer {
    padding: var(--space-l) 0;
    border-top: 1px solid var(--color-border);
    display: flex;
    justify-content: space-between;
}

.footer_copyright {
    color: var(--color-text);
    font-size: var(--font-s);
    display: block;
    margin-top: var(--space-l);
}

.footer_title {
    color: var(--color-title);
    font-size: var(--font-l);
    display: block;
    margin-bottom: var(--space-l);
    font-weight: var(--weight-title);
}

.hero {
    display: flex;
    gap: var(--space-b);
    align-items: center;
    border-bottom: 1px solid var(--color-border);
    padding-bottom: var(--space-b);
}

.hero_image {
    width: 500px;
    height: 500px;
    border-radius: var(--border-radius);
}

.hero_content {
    display: flex;
    flex-direction: column;
    gap: var(--space-l);
     
    transition-property:background-color ;
    transition-duration: 4s;
    transition-timing-function: ease-in;
}
.hero_content:hover{
    background-color: aqua;

}

.hero_title {
    font-size: 50px;
    color: var(--color-title);
    font-weight: var(--weight-title);
    line-height: 120%;
}

.hero_text {
    color: var(--color-text);
    font-size: var(--font-l);
    font-weight: var(--weigth-text);
    line-height: 170%;
}

.blog {
    display: flex;
    gap: var(--space-b);
    border-bottom: 1px solid var(--color-border);
    padding-bottom: var(--space-b);
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: var(--space-l);
}

.card_image {
    width: 140px;
    height: 140px;
    border-radius: 50%;

}

.card_title {
    font-size: 32px;
    font-weight: var(--weight-title);
    color: var(--color-title);
}

.card_text {
    font-size: var(--font-d);
    color: var(--color-text);
    font-weight: var(--weigth-text);
}

.button {
    display: inline-block;
    font-size: var(--font-d);
    text-decoration: none;
    padding: var(--space-m) var(--space-xm);
    border-radius: var(--border-radius);
}


.card_button {
    color: var(--color-white);
    background-color: var(--color-primary);
}


.button:hover {
    opacity: 0.7;
}

.form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-primary);
    padding: var(--space-l);
    border-radius: var(--border-radius);
    color: var(--color-white);
}

.form_content {
    display: flex;
    flex-direction: column;
    gap: var(--space-m);
}

.form_title {
    font-size: 27;

    font-weight: var(--weight-title);
}

.form_info {
    font-size: var(--font-d);
    font-weight: var(--weigth-text);
}

.form_button {
    background: var(--color-white);
    width: 100%;
    max-width: 160px;
    color: var(--color-text);
}

.hero_slider {
    position: relative;
}

.hero_icon {
    display: flex;
    width: 30px;
    height: 30px;
    justify-content: center;
    background: var(--color-primary);
    color: var(--color-white);
    align-items: center;
    font-size: var(--font-d);
    position: absolute;
    top: calc(50% - 15px);
    border-radius: 8px;


}

.hero_icon:hover {
    opacity: 0.6;
    cursor: pointer;
}

.hero_icon_left {
    left: var(--space-l)
}

.hero_icon_right {
    right: var(--space-l);
}